.input:focus:not([readonly])+label {
    color: #212121 !important;
}

.input:focus:not([readonly]) {
    border-bottom: 1px solid #212121 !important;
    box-shadow: 0 1px 0 0 #212121 !important;
}

.change {
    background-color: #212121 !important
}