/* Attendance Card */

#card {
    display: none;
}

#card_box {
    width: 500px;
    display: inline-block;
}

#form {
    float: left;
}

#form input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #212121;
    margin-top: 6px;
    height: 30px;
    width: 250px;
}

#form input::-webkit-color-swatch {
    border: none;
}

@media screen and (max-width: 780px) {
    body {
        margin: 0px auto;
    }
    #cc {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    #bc {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
    #ai {
        display: block;
        width: 100%;
        margin: 20px auto;
    }
}

/* searchbtn */

.searchbtn {
    margin-left: 25%;
}

/* Snack Bar */

#snackbar {
    visibility: hidden;
    min-width: 330px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}